.form-container-transfer {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 600px;
  display: flex;
}

.form-content-left-transfer {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 0 0 10px;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .form-container-transfer {
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .form-content-left-transfer {
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    border-radius: 0;
    position: relative;
    width: 100%;
    min-height: 50%;
    height: auto;
  }
  /* .clearfix:after {
    clear: both;
    content: "";
    display: table;
  } */
}
