.showcase-card {
  height: 600px;
  width: 350px;

  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  background-color: rgb(72, 72, 107);
  box-shadow: 0 5px 8px 0 rgba(9, 189, 212, 0.2),
    0 7px 20px 0 rgba(89, 2, 204, 0.2);
}

.card-image {
  height: 30%;
}

.card-text {
  height: 50%;
  width: 350px;
  margin: 0;
  background-color: #161a2b;
  border-bottom: 3px solid rgb(0, 195, 255);
}

.card-text h1 {
  font-size: 20px;
  color: #fff;
  padding-top: 7px;
  padding-left: 7px;
  margin-right: 0.4rem;
}

.card-text p {
  padding: 7px;
  font-size: 15px;
  color: #fff;
  text-align: justify;
  height: 20%;
  text-overflow: ellipsis;
}
.card-description {
  padding: 7px;
  font-size: 15px;
  color: #fff;
  text-align: justify;
  display: inline-block;
  max-width: 350px;
  word-wrap: break-word;
}

.card-address {
  font-size: 13px;
}

.card-links {
  height: 20%;
  background-color: #161a2b;
  border-radius: 0 0 10px 10px;
}

.card-links-address {
  display: flex;
  height: 50%;
  border-bottom: 1.5px solid rgb(0, 195, 255);
}

.card-links-address h1 {
  font-size: 15px;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
}

.card-links-trans {
  display: flex;
  height: 50%;
  border-radius: inherit;
  border-radius: 0 0 10px 10px;
}

.card-links-trans h1 {
  font-size: 15px;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5px;
}
