.stats-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #161a2b;
}
.stats-container h1 {
  color: #fff;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}
.stats-num-comp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* text-shadow: 0.5px 0.5px #000000; */
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 240px;
  font-size: 14px;
}

.stats-num-cont {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
}

.stats-graph {
  margin: 2rem;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .stats-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .stats-graph {
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .stats-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .stats-num-cont {
    flex-direction: column;
  }
  .stats-num-comp {
    margin: 1rem auto 1rem auto;
  }
  .stats-container h1 {
    font-size: 18px;
  }
  .stats-num-comp {
    text-shadow: 0 0;
    font-weight: normal;
  }
  .stats-graph {
    margin: 0.1rem;
  }
}
