.landing-container {
  margin: 100px auto;
  width: 90%;
  min-width: 800px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #161a2b;
}
.landing-title {
  font-size: 24px;
  color: #fff;
  margin: 3rem;
  justify-content: center;
}
.landing-top {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.landing-logo {
  position: relative;
  margin-left: 2rem;
}
.landing-content {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;

  padding: 1rem;
}
.landing-content h1 {
  font-size: 25px;
  color: #fff;
  padding-right: 0.4rem;
  border-right: 3px solid rgb(0, 195, 255);
  margin-right: 0.4rem;
}
.landing-content p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
}
.landing-content-img {
  margin-left: auto;
  margin-right: auto;
}
