.landing-container {
  margin: 100px auto;
  width: 90%;
  min-width: 800px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #161a2b;
}
.landing-title {
  font-size: 24px;
  color: #fff;
  margin: 3rem;
  justify-content: center;
}
.landing-top {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.landing-logo {
  position: relative;
  margin-left: 2rem;
}
.landing-content {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;

  padding: 1rem;
}

.landing-content-creds{
  display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding: 1rem;
}

.landing-content-creds p {
  font-size: 14px;
  color: #fff;
  text-align: justify;
}

.landing-content-creds a {
  color: rgb(0, 195, 255);
}
.landing-content h1 {
  font-size: 25px;
  color: #fff;
  padding-right: 0.4rem;
  border-right: 3px solid rgb(0, 195, 255);
  margin-right: 0.4rem;
}

.landing-content p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
}
.landing-content-img {
  margin-left: auto;
  margin-right: auto;
}
.more-button {
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient( 317deg, rgb(0 195 255) 0%, rgb(247 112 171) 100% );
  width: 200px;
  height: 52px;
 
  margin-left: 20%;
}
.more-button:hover {
  transition: all 0.3s ease-out;
  background-color: transparent;
  background: linear-gradient( 133deg, rgb(0 195 255 / 70%) 0%, rgb(247 112 171 /70%) 100% );
  border: 0.2px solid;
  border-radius: 4px;
  transition: 100ms;
}

@media screen and (max-width: 960px) {
  .landing-container {
    margin: 0;
    border-radius: 0;

    min-width: 0;
    width: 100vw;
    height: auto;
  }
  .landing-content-img img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    justify-self: center;
  }
  .instruct-img-net img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    justify-self: center;
  }
  .instruct-img img {
    height: 100%;
    width: 100%;
    aspect-ratio: 0.98/1;
    justify-self: center;
  }
  .instruct-img-meta-add img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1.53/1;
    justify-self: center;
  }
  .landing-content {
    flex-direction: column;
  }
  .landing-content h1 {
    border-right: 0;
    margin-bottom: 1rem;
  }
  .landing-title {
    font-size: 24px;
    color: #fff;
    margin: 3rem;
    justify-content: center;
  }
  .landing-top {
    display: flex;
    /* flex-direction: column-reverse; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .landing-logo {
    position: relative;
    margin-left: 2rem;
  }
  .landing-logo img {
    aspect-ratio: attr(300) / attr(300);
  }
}
@media screen and (max-width: 647px) {
  .landing-top {
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .landing-content {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0rem;
  }
  .landing-content p {
    font-size: calc(16px + (30 - 16) * (100vw - 647px) / (1500 - 300));
  }
  .landing-content-creds p {
    font-size: calc(16px + (30 - 16) * (100vw - 647px) / (1500 - 300));
  }
}
@media screen and (max-width: 350px) {
  .landing-logo img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
  }
  .landing-logo {
    margin-left: auto;
    margin-left: auto;
    padding: 0.8rem;
  }
  .landing-content p {
    text-align: left;
    word-spacing: 1.5px;
  }
  .landing-content-creds p {
    text-align: left;
    word-spacing: 1.5px;
  }
}
