.list-containter {
  margin: 100px auto;
  width: 80%;
  min-height: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);

  display: flex;
}

.list-app-inv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100%;
  background: #161a2b;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  padding-bottom: 0;
}
.list-app-inv h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}
@media screen and (max-width: 960px) {
  .list-containter {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .list-app-inv {
    margin: 0;
    border-radius: 0;
    padding-bottom: 0;
  }
  .list-app-inv h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  .list-row {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .list-row {
    width: 95%;
    margin: 4px 0.2rem 4px 0.2rem;
    justify-self: center;
  }
  .list-app-inv h1 {
    font-size: calc(20px + (30 - 16) * (100vw - 550px) / (1500 - 300));
  }
}
