.lead-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100%;
  background: #161a2b;
  text-align: center;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 0;
}

.lead-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(22, 163, 206) 0%,
    rgb(24, 127, 187) 100%
  );
  border-color: black;
  font-size: 12px;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.lead-app h1 {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .lead-app {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .lead-row {
    width: 25rem;
  }
}

@media screen and (max-width: 500px) {
  .lead-row {
    width: 95%;
    margin: 4px 2px 0 2px;
    padding: 16px 0.5rem 16px 0.5rem;
  }
  .lead-row {
    font-size: 11px;
  }
}
@media screen and (max-width: 350px) {
  .lead-row {
    font-size: 11px;
  }
}
