.lead-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100%;
  background: #161a2b;
  text-align: center;
  margin: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 0;
}

.lead-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(22, 163, 206) 0%,
    rgb(24, 127, 187) 100%
  );
  border-color: black;
  font-size: 12px;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.lead-app h1 {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}
