.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px auto 10px;
  color: #fff;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.05em solid rgb(255, 255, 255);
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color: #3aa4f5;
}

.checkbox-container input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 20px black;
}

.checkbox-container input[type="checkbox"]:disabled + label,
.checkbox-container input[type="checkbox"]:disabled {
  color: #fff;
  cursor: default;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  content: "\002714";
  background-color: #3aa4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.checkbox-container input[type="checkbox"]:disabled + label::before {
  background-color: #fff;
  border-color: #fff;
}
